<script setup lang="ts">
import { computed, ref, type Ref } from 'vue';

interface Todo {
    id: number, 
    text: string, 
    done: boolean
}

let id = 0
const newTodo = ref('')
const num1 = ref(0)
const num2 = ref(0)
// const result = ref(0)
const hideCompleted = ref(false)
const todos:Ref<Todo[]> = ref ([
    // const todos = ref<Todo[]> ก็ใช้ได้
    {id: id++, text: "learn HTML", done: true},
    {id: id++, text: "learn JavaScript", done: true},
    {id: id++, text: "learn Vue", done: false}
])

const filterTodos = computed(() => {
    if(hideCompleted.value){
        return todos.value.filter((t) => !t.done)
    }else{
        return todos.value
    }
})

function addTodo(){
    todos.value.push({id: id++, text: newTodo.value, done: false})
    newTodo.value = ''
}
function removeTodo(todo: {id: number, text: string, done: boolean}){
    todos.value = todos.value.filter((t) => t !== todo)
    // todos.value = todos.value.filter((t) => t.id !== id)
    // const index = todos.value.findIndex((t) => t.id === id)
    // todos.value.splice(index, 1)
    // const index = todos.value.indexOf(todo)
    // todos.value.splice(index, 1)
}
// function cal(){
//     result.value = num1.value + num2.value
// }

const result = computed(function(){
    return num1.value + num2.value
})

// ลดรูปเป็น const result(() => num1.value + num2.value) ได้

</script>

<template>
    <div>
        <input type="text" v-model.number="num1"> + <input type="text" v-model.number="num2"> = {{ result }} 
    </div>
    <div>{{ todos }}</div>
    <div>{{ newTodo }}</div>
    <form @submit.prevent="addTodo">
        <input type="text" v-model="newTodo" />
        <button>add todo</button>
    </form>
    
    <ul>
        <li v-for="todo in filterTodos" :key="todo.id" :class="{done: todo.done}">
           <input type="checkbox" v-model="todo.done">
            {{ todo.text }}<button @click="removeTodo(todo)">x</button>
        </li>
    </ul>

    <button @click="hideCompleted=!hideCompleted">{{ hideCompleted?"hide":"show all" }}</button>
</template>

<style scoped>
.done{
    text-decoration: line-through;
}
</style>